@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Learn about <a href="https://github.com/claudiath/HelloWorld.git" target="_blank">Repositorio GitHub Hello World</a>.</p>
</div>
